<%- include('./partials/header') %>
<section>
<div class="gap2" style="background: #d4deeb">
<div class="container">
    <div class="row" id="page-contents">
        <div class="col-lg-12">
            <div class="pittube-video">
                <div class="video-frame">
                    <div id="my_video_1" class="video-js vjs-default-skin vjs-paused"
                        style="width: 300px; height: 370px;"><video id="my_video_1_html5_api" class="vjs-tech"
                            preload="none" data-setup="{}" poster="../public/images/resources/weather.jpg">
                            
                        </video>
                        <div></div>
                        

                    <span class="uploadtime"><svg class="svg-inline--fa fa-upload" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="upload" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M105.4 182.6c12.5 12.49 32.76 12.5 45.25 .001L224 109.3V352c0 17.67 14.33 32 32 32c17.67 0 32-14.33 32-32V109.3l73.38 73.38c12.49 12.49 32.75 12.49 45.25-.001c12.49-12.49 12.49-32.75 0-45.25l-128-128C272.4 3.125 264.2 0 256 0S239.6 3.125 233.4 9.375L105.4 137.4C92.88 149.9 92.88 170.1 105.4 182.6zM480 352h-160c0 35.35-28.65 64-64 64s-64-28.65-64-64H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456z">
                            </path>
                        </svg><!-- <i class="fa fa-upload"></i> --><%= movie.movieyear %></span>
                    <h4><%= movie.movietitle %></h4>
                </div>
                
        </div>

    </div>
    </div>
</section>


<div class="gap gray-bg">
    <div class="container">
        <div class="row merged20">
            <div class="col-lg-12">
                <div class="forum-warper">
                    <div class="central-meta">
                        <div class="title-block">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="align-left">
                                        <h5>Modifier le film</h5>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div><!-- title block -->
                </div>
                <div class="forum-form">
                    <div class="central-meta">
                        <form class="c-form" id="form">
                            <input type="hidden" value=<%=movie._id %> id="_id">

                            <div>
                                <label for="movietitle">Titre du film</label>
                                <input type="text" name="movietitle" id="movietitle" placeholder="Modifier le nom"
                                value=<%=movie.movietitle %>> 
                                
                            </div>
                            <div>
                                <label for="movieyear">Année du film</label>
                                <input type="text" name="movieyear" id="movieyear" placeholder="Modifier l'année"
                                value=<%=movie.movieyear %>>
                            </div>
                            <div>
                                <button class="main-btn" type="submit" data-ripple="">Enregistrer le film</button>
                                <button class="main-btn3 supp" type="reset" data-ripple="">Supprimer le film</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>



    <%- include('./partials/footer') %>
        </div>

        <script>
            window.onload = function () {
                const _id = document.getElementById("_id").value;
                const form = document.getElementById("form");
                form.addEventListener('submit', updateMovieTitle);

                function updateMovieTitle(e) {
                    e.preventDefault();

                    if (window.fetch) {
                        fetch(`/movie/${_id}`, {
                            method: 'PUT',
                            body: new FormData(form),
                        })
                            .then(response => {
                                console.log(response);
                            }) // Traite les données de la réponse
                            .catch(error => console.error('Erreur:', error));
                    }
                    else {
                        console.log('Impossible de fetch');
                    }

                    window.location.reload();
                }
                const btnSupp = document.getElementsByClassName("supp");

                for (const btn of btnSupp) {
                  btn.addEventListener('click', () => {
                  const query = `/movie/${btn.id}`;
                   axios.delete(query)
                        .then(console.log("supprimé avec success !"));
                    window.location.href = '/';
                   })
                }
            }


        </script>
        </body>

        </html>